main {
    font-family: "Fira Mono", monospace;
}

#event-selector {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.event-link {
    width: 30vw;
    min-width: 150px;

    height: auto;

    font-size: normal;

    background-color: white;

    margin: 10px;

    display: flex;
    flex-direction: column;

    align-items: center;

    user-select: none;
    cursor: pointer;
}

.event-link .event-name {
    width: 100%;
    text-align: center;

    background-color: rgb(233, 198, 0);
    padding-top: 10px;
    padding-bottom: 10px;
}

.selector-img {
    display: block;

    max-width: 40%;

    width: auto;
    height: auto;

    aspect-ratio: 1 / 1;

    padding: 15px;
}

.event-details {
    color: rgb(122, 122, 122)
}

.centered-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2em;
}

.centered-info {
    width: 80%;
    max-width: 600px;
    min-width: 200px;

    display: flex;
    flex-direction: column;

    /* border: 1px solid black; */
}

.item p {
    margin: 0;
    padding: 0;
}

#race-selector .item {
    padding: 8px;
    cursor: pointer;
}

#race-selector .item:hover {
    background-color: rgb(255, 246, 192);
}

#race-selector .item .race-number {
    float: left;
}

#race-selector .item .race-year {
    float: right;
}

.item-bg-00 {
    background-color: white;
}

.item-bg-01 {
    background-color: rgb(226, 226, 226);
}

.error {
    padding: 10px;
    background-color: red;
}

#back-to-selection {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#race-information-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2em;
}

#race-information {
    max-width: 90vw;
}

.info-item {
    display: flex;
    flex-direction: row;

    border-left: 1px solid black;
    border-right: 1px solid black;

    text-wrap: wrap;
}

.info-item-bottom {
    border-bottom: 1px solid black;
}

.info-item-bg-00 {
    background-color: #FFEFA0;
}

.info-item-bg-01 {
    background-color: #FFD57E;
}

.info-item-bg-02 {
    background-color: #7eff9a;
}

.info-item-bg-03 {
    background-color: #70ea8a;
}

.info-item-bg-04 {
    background-color: #e9bbff;
}

.info-item-bg-05 {
    background-color: #dab0ee;
}

.info-item-bg-06 {
    background-color: hsl(8, 100%, 86%);
}

.info-item-bg-07 {
    background-color: hsl(9, 64%, 79%);
}

.info-item-crew {
    margin-top: 10px;
}

.info-item p {
    margin: 0;
    padding: 8px;
}

.info-source a {
    cursor: pointer;
    color: rgb(0, 0, 171);
    text-decoration: underline;
}

.info-title {
    width: 30%;
    padding: 8px;

    border-right: 1px solid black;
}

.info-item-title {
    background-color: #ffc726;
    border-top: 1px solid black;
}

.wrapper-title {
    border-right: none;
}

.info-value {
    width: 70%;

    margin-left: 30%;
    text-align: left;
}

.info-item-title .info-value {
    text-align: right;
}

#fetch-error {
    padding: 15px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
    background-color: rgb(223, 0, 0);
}